html,
body {
    background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.header {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 10px;
    flex-shrink: 0;
}

.title {
    color: rgba(50, 50, 50, 1);
    font-size: 45px;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    border-color: black;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    width: 50%;
    height: 30px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.names,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
}

li {
    margin-top: 10px;
}

.node-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
}

.node-card-names {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
}

.node-card-ip-name,
.node-card-height-name,
.node-card-version-name,
.node-card-time-name,
.node-card-today-name,
.node-card-all-name,
.node-card-state-name {
    flex-basis: 0;
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-right: none;
}


.node-card-ip,
.node-card-height,
.node-card-version,
.node-card-time,
.node-card-today,
.node-card-all,
.node-card-state {
    flex-basis: 0;
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-right: 1px solid black;
}

.node-card-state {
    border-right: none;
}