html,
body {
    background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.header {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 10px;
    flex-shrink: 0;
}

.title {
    color: rgba(50, 50, 50, 1);
    font-size: 45px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 10px;
}

.node-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.node-card-ip,
.node-card-height,
.node-card-version,
.node-card-today,
.node-card-all,
.node-card-state {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.node-card-ip {
    width: 15%;
}

.node-card-height {
    width: 30%;
}

.node-card-version {
    width: 15%;
}

.node-card-today {
    width: 20%;
}
.node-card-all {
    width: 20%;
}